@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  overflow-x: hidden; 
}

code {
  font-family: 'Source Code Pro', monospace;
}