@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

h1 {
  font-weight: 700;
}

p,
a {
  font-family: 'Montserrat', sans-serif;
  font-size: $default-font-size;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin: 0px;
  margin-bottom: 4.5rem;
  border: 2px solid $primary-color;
  font-size: $big-font-size;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .5em;
  padding: 25px;

  @include respond(phone) {
    font-size: 2.8rem;
  }
}

.dark-blue-text {
  color: $dark-blue-text !important;
}

.text-color-main {
  background-image: none;
  -webkit-text-fill-color: $dark-blue-text;
  transition: all 0.5s linear;

  &:hover {
    cursor: pointer;
    text-decoration: line-through;
    transform: translateX(100px);
  }
}